In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline

import re
import os
import string
import operator
from itertools import islice
from collections import Counter

from datetime import date
import matplotlib.dates as dates

from nltk import ngrams
import nltk.probability

In [4]:
sns.set_style('darkgrid')
sns.set_context('paper')
pd.set_option('display.max_colwidth', None)

In [5]:
punct_signs = list(string.punctuation)
punct_signs.append('…')
punct_signs.append('¿')
punct_signs.append('•')
punct_signs.append('”')
punct_signs.append('“')
punct_signs.append('–')
punct_signs.append('∑')
punct_signs.remove('&')

## General Information

In [7]:
df = pd.read_csv('data/courses.csv')
df.columns

Index(['ID', 'Country', 'Univeristy', 'G2RWorldRank', 'G2RNationalRank',
       'QSWorldUniversityRanking2021', 'Program',
       'SchoolOfferingCourseProgram', 'CourseDescription', 'Course Unit',
       'CourseUnitGoals', 'CourseUnitOutcomes'],
      dtype='object')

In [10]:

print('Total of courses: ', len(df))

Total of courses:  503

## Number of courses by country

In [25]:
df_ = df.groupby(['Country']).agg({'ID':'count'})

df_.columns = ['Number of courses']
df_ = df_.sort_values('Number of courses', ascending= False)
df_.loc['Total', 'Number of courses'] = df_['Number of courses'].sum()
df_.astype(int)

             Number of courses
Country
USA                        361
Canada                      32
Switzerland                 24
UK                          20
Singapure                   19
Hong Kong                   12
Germany                     10
Sweden                       7
Belgium                      5
Austria                      3
Denmark                      3
France                       2
India                        2
Australia                    1
Italy                        1
Netherlands                  1
Total                      503

## Total of countries

In [26]:
len(df_)

17

## Number of courses by University (Top 20)

In [30]:
df_ = df.groupby(['Univeristy','G2RWorldRank', 'G2RNationalRank',
       'QSWorldUniversityRanking2021' ]).agg({'ID':'count'})

df_.columns = ['Number of courses']
df_ = df_.sort_values('Number of courses', ascending= False)

df_= df_.astype(int)
df_.head(20)

                                                                                                                                   Number of courses
Univeristy                                                              G2RWorldRank G2RNationalRank QSWorldUniversityRanking2021
Carnegie Mellon University                                              1            1               51.0                                         42
University of Texas at Austin                                           15           14              71.0                                         38
University of Washington                                                11           10              72.0                                         24
University of California, Irvine                                        21           18              210.0                                        21
MIT                                                                     2            2               1.0                                          20
University of Waterloo                                                  22           2               166.0                                        20
University of Pennsylvania                                              24           19              16.0                                         20
University of Southern California                                       10           9               121.0                                        17
Cornell University                                                      19           16              18.0                                         15
Princeton University                                                    20           17              12.0                                         14
ETH Zurich                                                              16           2               6.0                                          13
University of Wisconsin-Madison                                         25           20              65.0                                         13
Georgia Institute of Technology                                         5            5               80.0                                         12
Johns Hopkins University                                                35           23              25.0                                         12
National University of Singapore                                        26           1               11.0                                         12
EPFL : École polytechnique fédérale de Lausanne(University of Lausanne) 7            1               169.0                                        11
University of Cambridge                                                 43           5               7.0                                          11
Stony Brook University                                                  62           35              373.0                                        10
University of California, Santa Cruz                                    46           28              416.0                                         9
University of Colorado Boulder                                          55           33              230.0                                         8

## Total of Universities

In [28]:
len(df_)

66

## Number of courses by program (top 20)

In [37]:
df_ = df.groupby(['Program' ]).agg({'ID':'count'})

df_.columns = ['Number of courses']
df_ = df_.sort_values('Number of courses', ascending= False)

df_= df_.astype(int)
df_.head(20)

                                                 Number of courses
Program
Engineering Ethics                                               4
Artificial Intelligence                                          4
Ethics and Policy Issues in Computing                            3
Introduction to Software Engineering                             3
Computer Science                                                 3
Social Implications of Computer Technology                       2
Computers, Ethics, and Public Policy                             2
Computers and Society                                            2
Senior Design Project                                            2
Computer Security                                                2
Security and Privacy                                             2
Information Security                                             2
Artificial Intelligence Methods for Social Good                  2
Special Topics                                                   2
Human-Computer Interaction                                       2
Computer Engineering                                             2
Professional Ethics                                              2
Contemporary Logic Design                                        2
Introduction to Computer Science                                 2
ADVANCED COMPUTER SECURITY AND PRIVACY                           2

## Total of Programs

In [38]:
len(df_)

475

## Total of courses by SchoolOfferingCourseProgram (top 20)

In [39]:
df_ = df.groupby(['SchoolOfferingCourseProgram' ]).agg({'ID':'count'})

df_.columns = ['Number of courses']
df_ = df_.sort_values('Number of courses', ascending= False)

df_= df_.astype(int)
df_.head(20)

                                                                              Number of courses
SchoolOfferingCourseProgram
Engineering School                                                                           18
College of Engineering                                                                       18
COLLEGE OF ENGINEERING                                                                       17
Whiting School of Engineering                                                                12
School of Electrical Engineering                                                             12
Informatics                                                                                  12
School of continuing and lifelong education                                                   9
Computer Science Department                                                                   9
Department of Computer Science and Engineering                                                9
Dietrich College of Humanities and Social Sciences,Department of Philosophy                   9
School of Engineering and Applied Sciences                                                    7
Institute of Continuing Education (ICE)                                                       7
School of Electrical and Computer Engineering                                                 6
Institute for Software Research                                                               6
Human-Computers Interaction Institute                                                         5
School of Computer Science                                                                    4
Barnard College                                                                               4
Information and Computer Science                                                              4
Department of Computer Science                                                                4
School of Arts and Sciences                                                                   3

## Total of Schools Offering Program

In [40]:
len(df_)

52

##  Total of courses including Course Description

In [45]:
df['CourseDescription'].count()

478

##  Total of courses including Goals.

In [46]:
df['CourseUnitGoals'].count()

74

## Total of courses including outcomes.

In [47]:
df['CourseUnitOutcomes'].count()

76

## Total of courses including Description, Goals and Outcomes.

In [53]:
df_ = df.assign(count=df.loc[:, ['CourseUnitOutcomes','CourseUnitGoals', 'CourseDescription']].notna().sum(axis=1))
df_ = df[df_['count'] == 3]
len(df_)

46